@model IEnumerable<KnowledgePool.Models.Card>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@using (Html.BeginForm("UpdateDatabase", "Cards", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <h4>Upload Set Json</h4>
    <br />
    <input type="file" name="File" />
    <br />
    <input type="submit" value="Upload" />
    <br />
    <br />
}


